
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<!-- <script src="../javascripts/setup.js"></script>
<script src="../javascripts/drawgame.js"></script>
<script src="../javascripts/game.js"></script> -->

</body>
</html>