<% include partials/header %>
<div class="hide">
  <div class="" id="player1"><%= p1 %></div>
  <div class="" id="player2"><%= p2 %></div>
  <div class="" id="gameid"><%= gameId %></div>
</div>

<div class="waiting hide">Waiting on opponent</div>

<p>BATTLESHIP ///// You vs. <span class="oName"></span></p>


<div class="gameContainer">

<div class="result"></div>


<!-- OPPONENT BOARD DIV -->
  <div class="opponentBoardContainer">
    <div class="board">
    <div class="columnDiv columnDivOpponent"></div>
    <div class="rowDiv rowDivOpponent"></div>
    <div class="container opponentBoard grid"></div>
    </div>
  </div>
<!-- YOUR BOARD DIV -->
<!-- <div class="playerBoardContainer">
  <h5>Your board</h5>
    <div class="board">
    <div class="columnDiv columnDivPlayer"></div>
    <div class="rowDiv rowDivPlayer"></div>
    <div class="container playerBoard grid"></div>
    </div>
  </div> -->

  <div class="playerBoardContainer">
  Your board
    <div class="board">
    <div class="columnDiv columnDivPlayer"></div>
    <div class="rowDiv rowDivPlayer"></div>
    <div class="container playerBoard grid"></div>
    </div>
  </div>

</div>


<script src="../../javascripts/connect.js"></script>
<script src="../../javascripts/drawgame.js"></script>
<script src="../../javascripts/battleship.js"></script>
<% include partials/footer %>