<% include partials/header %>
<p>BATTLESHIP ///// click a user to challenge them</p>


<form>
Update name:<br>
<input type="text" class="name">
<button class="submitName">submit</button>
</form><br>


Online now:
<div id="users">
</div>
<br>
<div class="messages"></div>


<script src="../javascripts/waitingroom.js"></script>
<% include partials/footer %>