body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  /*background-color: blue;*/
}

.hide {
  display: none;
}

/*BOARD*/
.setupBoard, .playerBoard, .opponentBoard {
  box-sizing: border-box;
  float: left;
  width: 300px;
  height: 300px;
  overflow: hidden;
}
.tile {
  box-sizing: border-box;
  border: 1px solid black;
  width: 30px;
  height: 30px;
  float: left;
}
/*board labels*/
.rowDiv {
  float: left;
  width: 20px;
  height: 300px;
}
.rowLabel {
  height: 31px;
  width: 20px;
}
.columnDiv {
  width: 300px;
  height: 20px;
  margin-left: 30px;
}
.columnLabel {
  float: left;
  width: 30px;
}

/*PLAYER BOARD ADJUSTMENTS*/
.playerBoardContainer {
  float: left;
  margin-left: 20px;
}
.playerBoard {
  width: 200px;
  height: 200px;
}
.playerTile {
  width: 20px;
  height: 20px;
  border: 1px solid gray;
}
/*labels*/
.rowDivPlayer {
  height: 200px;
}
.columnDivPlayer {
  width: 200px;
  margin-top: 10px;
}
.rowLabelPlayer {
  color: gray;
  height: 20px;
}
.columnLabelPlayer {
  color: gray;
  width: 20px;
}
/*SHIP CONTAINER*/
.shipsContainer {
  float: left;
}
.shipContainer {
  float: left;
  padding: 20px;
}
.ship {
  box-sizing: border-box;
  background-color: blue;
  opacity: .8;
  width: 30px;
  height: 20px;
  position: absolute;
  border-radius: 10px;
  background-size: contain;
}
.carrier {
  height: 150px;
}
.battleship {
  height: 120px;
  background-color: green;
}
.submarine, .cruiser {
  height: 90px;
  background-color: purple;
}
.destroyer {
  height: 60px;
}

.submit {
  margin-bottom: 10px;
}

/*TILE STATUS*/
.shot {
  background-color: red;
}
.hitTrue {
  background-color: orange;
}
.hitFalse {
  background-color: lime;
}
.shotTrue {
  background-color: blue;
}
.shotFalse {
  background-color: gray;
}
/*RESULT BOX*/
.result {
  margin-top: -5px;
  margin-bottom: 10px;
  color: red;
  font-size: 20px;
}
.hover {
  background-color: yellow;
}







